{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block head %}
  <style type="text/css">
dl#history dt + dd {
  border-left: 1px solid black;
}
  </style>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/about">About</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
<h2>About</h2>
<p>The EGA translation project is an open-source effort to translate Grothendieck's <a href="https://en.wikipedia.org/wiki/%C3%89l%C3%A9ments_de_g%C3%A9om%C3%A9trie_alg%C3%A9brique">Éléments de géométrie algébrique</a>.</p>
<p>For more information, please read <a href="https://fppf.site/ega/what-auto.pdf">"What this is"</a>.</p>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}

