{% extends "layout.html" %}

{% block title %}Acknowledgements{% endblock %}

{% block breadcrumb %}
  <li><a href="/acknowledgements">Acknowledgements</a>
{% endblock %}

{% block body %}
  <h2>Acknowledgements</h2>
  <p>Here is the current status of the file <a href="https://github.com/ryankeleti/ega/tree/master/CONTRIBUTORS"><var>CONTRIBUTORS</var></a> in the project. If you have participated in this project, please let us know so we can add you to the list.

  <ul>
    {% for acknowledgement in acknowledgements %}
      <li>{{ acknowledgement }}
    {% endfor %}
  </ul>

  <h2>Gerby</h2>
  <p>The website for the Stacks project uses <a href="https://gerby-project.github.io/">Gerby</a> as the underlying system. It was written by <a href="https://pbelmans.ncag.info/">Pieter Belmans</a> and <a href="https://www.math.columbia.edu/~rcheng/">Raymond Cheng</a>. It is an open source system, which combines
  <ul>
    <li>a LaTeX processing tool built using <a href="https://github.com/tiarno/plastex">plastex</a>
    <li>a website built using <a href="http://flask.pocoo.org/">Flask</a>
  </ul>
  We mostly modified the existing <a href="https://stacks.math.columbia.edu/">Stacks Project</a> website to make this one!
  A lot of the content (except the math) is therefore from the Stacks Project, with some modifications.
  Note that code from the Stacks Project is licensed under the <a href="https://github.com/stacks/stacks-project/blob/master/COPYING">GNU Free Documentation License</a>.
  <!--<p>Gerby is also used by-->
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}

{% endblock %}



