{% extends "layout.html" %}

{% block title %}API{% endblock %}

{% block breadcrumb %}
  <li><a href="/api">API</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
  <h2>Overview of the <abbr title="Application Programming Interface">API</abbr></h2>
  <p><em>This page is mostly unmodified from the <a href="https://stacks.math.columbia.edu/api">Stacks Project's API page</a></em>.
  <p>It is possible to query this project yourself through an <abbr>API</abbr>. This way you don't have to scrape the information from the <abbr title="HyperText Markup Language">HTML</abbr> pages and it is consistent with our goal that the content of this project be as open as possible (thanks, Stacks Project!).
  <p>You can contact the creators of the <abbr>API</abbr> at <a href="mailto:stacks.project@gmail.com">stacks.project@gmail.com</a>.

  <h2>Statements</h2>
  <p>There are two different possibilities to get the statement of a tag:
  <ol>
    <li><abbr title="HyperText Markup Language">HTML</abbr>, <em>without</em> proof:
      <pre><code>https://fppf.site/ega/data/tag/&lsaquo;<em>tag</em>&rsaquo;/content/statement</code></pre>
      <p>example: <a href="https://fppf.site/ega/data/tag/015I/content/statement"><abbr>HTML</abbr> statement for tag <span class="tag">015I</span></a>

    <li><abbr title="HyperText Markup Language">HTML</abbr>, <em>with</em> proof:
      <pre><code>https://fppf.site/ega/data/tag/&lsaquo;<em>tag</em>&rsaquo;/content/full</code></pre>
      <p>example: <a href="https://stacks.math.columbia.edu/data/tag/015I/content/full"><abbr>HTML</abbr> statement (with proof) for tag <span class="tag">015I</span></a>
  </ol>
  <p>Because the mathematics is parsed by MathJax, the <abbr>HTML</abbr> output contains raw LaTeX math. It is up to the user to handle this (e.g. either use MathJax, or some image generation tool).
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}

