{% extends "layout.html" %}

{% block title %}Contributors{% endblock %}

{% block breadcrumb %}
  <li><a href="/contribute">How to contribute</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
  <p>We have <strong>{{ contributors | length }} contributors</strong> to this project.
  <p>Here is the current status of the file <a href="https://github.com/ryankeleti/ega/tree/master/CONTRIBUTORS"><var>CONTRIBUTORS</var></a> in the project. If you have participated in this project, please let us know so we can add you to the list.

  <ul>
    {% for contributor in contributors %}
      <li>{{ contributor }}
    {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}

  <p class="alert alert-info">If your name does not render properly, please make an issue on the repo.</a>.
{% endblock %}

