{% extends "layout.html" %}

{% block title %}How to contribute{% endblock %}

{% block head %}
  <style type="text/css">
p.background {
  background-repeat: no-repeat;
  padding-left: 2rem;
}
  </style>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/contribute">How to contribute</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
  <h2>How to contribute?</h2>
  <p>To be added....

  <h2>How to make</h2>
  <p>To be added....

  <h2>Reference for git and our model</h2>
  <p>Check out <a href="https://git-scm.com/">git</a> and <a href="https://help.github.com/">github help</a> for reference. To clone, <code>git clone https://github.com/ryankeleti/ega.git</code>. To push changes, make a pull request <a href="https://github.com/ryankeleti/ega/pulls">here</a>.
    Add something about issues and <a href="https://trunkbaseddevelopment.com/">model</a>.    
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}
