{% extends "layout.html" %}

{% block title %}Tags explained{% endblock %}

{% block breadcrumb %}
  <li><a href="/tags">Tags explained</a>
{% endblock %}

{% block body %}
  <h2>The tag system</h2>
  <p>Each tag refers to a unique item (section, lemma, theorem, etc.) in order for this project to be referenceable.

  <h2>How to use it?</h2>
  <p>To find the tag for an item, hover/click on the item in the <a href="/download/book.pdf">pdf file</a> or find the item from the <a href="/browse">table of contents</a>. See below for LaTeX instructions on how to reference a tag.
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}


