{% extends "layout.html" %}

{% set index = true %}

{% block title %}Index{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">a translation project for Grothendieck's EGA</em>
{% endblock %}

{% block body %}
{#{% block sidebar %}#}
  {% for update in updates %}
    <h3>{{ update.title | safe }}</h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics">Statistics</a></h3>

  <p class="mb-1">The EGA translation project now consists of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
  
  {{ macros.singlePageLinks() }}
{% endblock %}

